# Windows\n[Dd]esktop.ini\nThumbs.db\n$RECYCLE.BIN/\n\n# macOS\n.DS_Store\n.fseventsd\n.Spotlight-V100\n.TemporaryItems\n.Trashes\n\n# Node.js\nnode_modules/\n\n# 微信小程序\nminiprogram_npm/\nproject.private.config.json\n.idea\ndist/\ncoverage/\nlogs/\n\n# 本地环境文件\n.env.local\n.env.*.local\n\n# 日志文件\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*\n\n# 编辑器目录和文件\n.vscode/\n*.suo\n*.ntvs*\n*.njsproj\n*.sln\n*.sw?